

$color-primary: #ff9100;
$primary-light: #ffc246;
$primary-darker: #c56200;

$font-color: #777;

$color-primary: #ff9100;
$color-primary-light: #ffc246;
$color-primary-dark: #c56200;

$color-secondary-light: #9C27B0;
$color-secondary-dark: #6A1B9A;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$grid-chess-width: 900rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 6rem;

//CHESS
$gutter-horizontal-chess: 1rem;
$chess-cell-height: 5rem;
